VITE_FIREBASE_API_KEY=masukkan_api_key_disini
VITE_FIREBASE_AUTH_DOMAIN=masukkan_auth_domain_disini
VITE_FIREBASE_PROJECT_ID=masukkan_project_id_disini
VITE_FIREBASE_STORAGE_BUCKET=masukkan_storage_bucket_disini
VITE_FIREBASE_MESSAGING_SENDER_ID=masukkan_sender_id_disini
VITE_FIREBASE_APP_ID=masukkan_app_id_disini
VITE_FIREBASE_DATABASE_URL=masukkan_database_url_disini